@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.spinner-hidden::-webkit-inner-spin-button,
.spinner-hidden::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide in Firefox */
.spinner-hidden[type='number'] {
    -moz-appearance: textfield;
}